
body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
}

body {
	font: 14px/24px Helvetica, Sans-Serif; color: #7e7e7e;
	background: #f5f5f5 url(images/bg.png);
}

a {
	color: #9f3a3a; text-decoration: none;
}
	a:hover {
		color: #792323;
	}
	
.container {
	width: 960px; margin: 0 auto;
}


.header {
	overflow: hidden;
}
	.header.logo {
		margin: 20px 0 10px 15px; float: left;
	}
	
	.header .subscribe {
		list-style: none; float: right; margin: 35px 30px 0 0;
		font-size: 16px;
	}
		.header .subscribe li.rss {
			background: url(images/rss-icon.png) left no-repeat;
			padding: 5px 0 5px 40px; margin: 0 0 10px 0;
		}
		.header .subscribe li.twitter {
			background: url(images/twitter-icon.png) left no-repeat;
			padding: 5px 0 5px 40px;
		}