
table{

background-color:black;
color:white;
border-color:red;
border-width:3px;
border-style:dashed;
margin-bottom:2px;
}
body{
background-image:url(download.jpg)}
h1{

color:white;}
a:hover{background-color:green;
text-decoration:none;
}
a:active{background-color:orange;}
ul{background-image:url(Capture.png);
padding:20px;
width:150px;
padding-bottom:300px;
color:green;}